# Compiled source #
###################
*.swp
*.orig
*.pyc
model_*.py
ssc
views_*.py
logs.log
static/images/events_photos/*
!static/images/events_photos/default.jpg
static/images/users_avatar/*
!static/images/users_avatar/default.jpg
static/images/tyg_ayo/*
!static/images/tyg_ayo/city_background.jpg
!static/images/tyg_ayo/zagreb_night.jpg
!static/images/tyg_ayo/client_1.png
!static/images/tyg_ayo/repairmanicon_1.png