body {
  /*margin-top: 40px;*/
  background-color: #eee;
}

.detail-name {
   font-size: 130%;
   font-weight: bold;
}

.detail-pic {
   height: 200px; 
}

.detail-text {
   max-height: auto; 
}

.detail-list {
   padding-top: 20px; 
}

.info{
    color: gray;
}
.info-text{
    font-weight: bold;
}
.pre-info{
    padding-left:10px; 
}

img{
    max-width:  200px;
    max-height: 200px;
}

.img-circle{
  width: 170px;
  height: 170px;
}

.row button{
  width: 170px;
}

.info-section{
    padding-top: 5px; 
}

.footer {
    background: linear-gradient(#3c3c3c 0,#222 100%);
    color: white;
    
    bottom: 0px;
    width: 100%;
    padding-top: 15px;
}

body {
    padding-bottom: 0;
}

hr {
  color: #373737;
}

#myBtn3 {
  color: #2dacd3;
}

#myBtn3:hover {
  color: #57BDDC;
}

.glyphicon.glyphicon-question-sign {
   cursor: pointer;
   /* whatever other hover styles you want */
}

