body {
  /*margin-top: 40px;*/
  background-color: #eee;
}

.detail-name {
   font-size: 130%;
   font-weight: bold;
}

.detail-pic {
   height: 200px; 
}

.detail-text {
   height: 200px; 
}

.detail-list {
   padding-top: 20px; 
}

.info{
    color: gray;
}
.info-text{
    font-weight: bold;
}
.pre-info{
    padding-left:10px; 
}

img{
    max-width:  200px;
    max-height: 160px;
}

.info-section{
    padding-top: 5px; 
}

.footer {
    background: linear-gradient(#3c3c3c 0,#222 100%);
    color: white;
    
    bottom: 0px;
    width: 100%;
    padding-top: 15px;
}

body {
    padding-bottom: 0;
}

hr {
  color: #373737;
}

