<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page of Event details.">
    <meta name="author" content="ikypav">
    <link rel="icon" href="../../favicon.ico">

    <title>Small Home Maintenance Work</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="../static/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/edetails.css" rel="stylesheet">
 

  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand" href="/startup">Tyg-Ayo</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/startup">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">All Events</a>
          </li>
        </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if username %}
              <li><a href="/mypage/{{ username }}">My Page</a></li>
              <li><a href="/profile/{{ username }}">Profile Page</a></li>            
              <li><a href="/signout">Sign Out {{ username }}</a></li>
            {% else %}
              <li><a href="/signout">Sign Out</a></li>
            {% endif %}
          </ul>
        </div>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible alert-success" role="alert">
                {{ message|safe }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <br><br>
                <div class="row">
                    <div class="col-md-6 col-md-offset-4">
                        <div class="detail-name">
                                {{ event.name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <div align="center">
                           <img class="img-circle" src="/{{ event.photo }}" width="140" height="140">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail-text">
                            {{ event.description }}
                        </div>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                      {% if event.active != False and user.id == cuserId %}
                      <button class="btn btn-info" type="button" data-toggle="modal" id="myBtn">Edit Event Info</button>
                      {% endif %}
                       <div class="info-section">
                            <span class="info">Event Address:</span> <br/>
                            <span class="info-text pre-info">{{ event.address }}</span><br/>
                        </div>
                        <div class="info-section">
                            <span class="info">Time and date:</span> <br/>
                            <span class="info-text pre-info">{{ event.date_time_close }}</span><br/>
                        </div>
                        <div class="info-section">
                            <span class="info">Price:</span><br/>
                            <span class="info-text pre-info">{{ event.price }} </span>HRK<br/>
                        </div>
                        <div class="info-section">
                            <span class="info">Contact:</span><br/>
                            <span class="pre-info">mail:</span><span class="info-text"> {{ user.email }}</span><br/>
                            <span class="pre-info">phone:</span><span class="info-text"> {{ user.mobile }}</span><br/>
                        </div><br/>
                      {% if event.active != False and user.id == cuserId %}
                        <button class="btn btn-danger" type="button" data-toggle="modal" id="deactBtn">Deactivate Event</button>
                      {% endif %}
                    </div>  
                    <div class="col-md-6">
                            {% if event.active == False %}
                            <div class="row">
                                <div class="col-md-6 detail-purchased">
                                    <input type="checkbox" name="accessories" disabled="disabled" value="Accessories purchased" {{ accessP }}> Accessories Purchased<br>
                                </div>
                                <div class="col-md-5 col-md-offset-1">
                                    This event is no longer active.
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-md-6 detail-purchased">
                                    <input type="checkbox" name="accessories" disabled="disabled" value="Accessories purchased" {{ accessP }}> Accessories Purchased<br>
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    {% if user.id != cuserId %}
                                        {% if already == 0 %}
                                            <form action="{{ url_for('signup') }}" method=post class=signup>
                                            <input type=hidden value="{{ event.id }}" name="event_to_signup"></input>
                                            <input type=submit value="Signup Now!"></input>
                                            </form>
                                        {% else %}
                                            You are already signed up!
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2 detail-list">
                                    {% if user.id == cuserId %}
                                    <div class="panel panel-info">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading">Signed Up Users</div>
                                          <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                      <th>Name</th>
                                                      <th>Rating</th>
                                                      <th>email</th>
                                                      <th>Select</th>
                                                    </tr>            
                                                </thead>
                                                <tbody>
                                                {% if users %}
                                                    {% for us in users %}
                                                        <tr class='clickable-row' data-href='#'>
                                                            <th scope="row"><a href="/profile/{{ us.name }}">{{us.name}}</a></th>
                                                            <td>{{us.rating}}</td>
                                                            <td>{{us.email}}</td>
                                                            <td><a href="#myModal" data-toggle="modal" id="{{us.id}}_{{us.name}}" data-target="#edit-modal">Choose!</a></td>
                                                            <!--     <form action="{{ url_for('chooserm') }}" method=post class=chooserm>
                                                                    <input type=hidden value="{{ event.id }}" name="event_to_choose"></input>
                                                                    <input type=hidden value="{{ us.id }}" name="rm_to_choose"></input>
                                                                    <input type=submit value="Choose!"></input>
                                                                </form>
                                                            </td> -->
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                 
                                                <!-- {% if repairmen %}
                                                  {% for repairman in repairmen %}
                                                  <tr class='clickable-row' data-href='#'>
                                                    <th scope="row">{{ repairman.name }}</th>
                                                    <td>{{ repairman.email }}</td>
                                                    <td>{{ repairman.rating}}</td>
                                                    <td><a href="{{ url_for('showevent', id=event.id) }}">Go To</a></td>
                                                  </tr>
                                                  {% endfor %}
                                                {% endif %} -->
                                              </tbody>
                                            </table>
                                          </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div> 
                            {% endif %}
                     </div>               
                </div>
        </div>
    </div>
    <div class="container">
     <!-- Three columns of text below the carousel -->
      <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="modfyEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modify Event Details</h4>
              </div>
              <form method='POST' action="/modifyevent" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" id="id" placeholder="Id of Event" value="{{ event.id }}" readonly>
                  <label for="name"><span class="glyphicon glyphicon-user"></span> Event Name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Change Name of Event" value="{{ event.name }}">
                  <label for="description"><span class="glyphicon glyphicon-comment"></span> Event Description</label><br>
                  <input type="text" class="form-control" name="description" id="description" placeholder="Change Description of Event" value="{{ event.description }}">
                  <label for="price"><span class="glyphicon glyphicon-usd"></span> Event Price</label>
                  <input type="number" class="form-control" name="price" id="price" step="any" placeholder="Change Price of Event" value="{{ event.price }}">
                  <label for="address"><span class="glyphicon glyphicon-map-marker"></span> Event Address</label>
                  <input type="text" class="form-control" name="address" id="address" placeholder="Change Address of User location" value="{{ event.address }}">
                  <label for="date"><span class="glyphicon glyphicon-calendar"></span> Event Date</label>
                  <input type="datetime-local" class="form-control" name="datmtme" id="datmtme" placeholder="Change End Date of Event" value="{{ event.date_time_close.strftime("%Y-%m-%dT%H:%M:%S") }}" required>
                  <label for="photo"><span class="glyphicon glyphicon-camera"></span> Event Photo</label>
                  <input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Change Photo of User" value="{{ event.photo }}">
                  <label for="accessories"><span class="glyphicon glyphicon-check"></span> Purchase Accessories</label>
                  <input type="checkbox" class="form-control" name="accessories" id="accessories" value="1" {{ accessP }}>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-info">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deactEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deactivate Event</h4>
              </div>
              <form method='POST' action="/deactevent" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" id="id" placeholder="Id of Event" value="{{ event.id }}" readonly>
                  <p>Deactivation is permanent! Do you want to deactivate Event?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Deactivate Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
<!-- Modal -->
<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Repairman</h4>
                </div>
                <div class="modal-body edit-content">
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('chooserm') }}" method="post" class="chooserm">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type=hidden value="{{ event.id }}" name="event_to_choose"></input>
                        <input id="repairman" type=hidden value="" name="rm_to_choose"></input>
                        <input type=submit class="btn btn-primary" value="Choose!"></input>
                    </form>
                </div>
            </div>
        </div>
</div>
  <!--   <div id="edit-modal"  class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      
        <!-- Modal content
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Confirmation</h4>
          </div>
          <div class="modal-body edit-content" style="padding:40px 50px;">
            <form action="{{ url_for('chooserm') }}" method="post" class="chooserm">
            <!-- <form role="form" method='POST' action='/signin'>  role form??? what is that?
                <label>Are you sure you want to hire </label>
                <button type="submit" class="btn btn-success btn-block"> OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
          <div class="modal-footer">
            <p>Not a member? <a href="#">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
          </div>
        </div>
        
      </div>
    </div>  -->
    
    
<footer class="footer">
      <div class="container">
        <hr class="featurette-divider">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <address>
            <strong>Tyg - Ayo, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            Zagreb, HR 10000<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
              <strong>Tyg-Ayo</strong><br>
              <a href="mailto:#">tyg-ayo@example.com</a>
          </address>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== 
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script>
      $(document).ready(function(){
          $("#myBtn").click(function(){
              $("#modfyEvent").modal();
          });
      });
    </script>
    <script>
      $(document).ready(function(){
          $("#deactBtn").click(function(){
              $("#deactEvent").modal();
          });
      });
    </script>
    <script>
        $('#edit-modal').on('show.bs.modal', function(e) {
            
            var $modal = $(this),
                input = e.relatedTarget.id;
                res = input.split("_")
                
            
//            $.ajax({
//                cache: false,
//                type: 'POST',
//                url: 'backend.php',
//                data: 'EID='+essay_id,
//                success: function(data) 
//                {
                    $modal.find('.edit-content').html("Are you sure you want to hire "+res[1]+"?");
                    //$modal.getElementById('repairman').value = res[0];
                    $("#repairman").val(res[0]);
//                }
//            });
            
        })
    </script>
  </body>
</html>