<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page of Event details.">
    <meta name="author" content="ikypav">
    <link rel="icon" href="../../favicon.ico">

    <title>Small Home Maintenance Work</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="../static/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/edetails.css" rel="stylesheet"> 

    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tyg-Ayo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/startup">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">All Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href data-toggle="modal" id="myBtn3">Create Event</a>
          </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if username %}
              <li><a href="/mypage/{{ username }}">My Events</a></li>
              <li><a href="/profile/{{ username }}">My Profile</a></li>            
              <li><a href="/signout">Sign Out {{ username }}</a></li>
            {% else %}
              <li><a href="/signout">Sign Out</a></li>
            {% endif %}
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category != 'warning' %}
              <div class="alert alert-dismissible alert-success" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}
              </div>
              {% else %}
              <div class="alert alert-dismissible alert-danger fade in" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>Warning! </strong>{{ message|safe }}
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <div align="center">
                           <img class="img-circle" src="/{{ event.photo }}"><br><br>
                          {% if event.active != False and user.id == cuserId %}
                          <button class="btn btn-info" type="button" data-toggle="modal" id="myBtn">Edit Event Info</button><br><br>
                          <button class="btn btn-danger" type="button" data-toggle="modal" id="deactBtn">Deactivate Event</button>
                          {% endif %}
                          {% if event.active == False and event.repairman_id == cuserId %}
                            <button class="btn btn-danger" type="button" data-toggle="modal" id="declineBtn">Decline Event</button>
                          {% endif %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="detail-name">
                                {{ event.name }}
                        </div>
                        <div class="detail-text">
                            {{ event.description }}
                        </div><br><br>
                        <div class="row">
                          <div class="col-md-4">
                           <div class="info-section">
                                <span class="label label-default">Event Address:</span>
                                <p>{{ event.address }}</p>
                            </div>
                            <div class="info-section">
                                <span class="label label-default">Time and date:</span>
                                <p>{{ event.date_time_execute }}</p>
                            </div>
                          </div>
                          <div class="col-md-4 col-md-offset-3">
                            <div class="info-section">
                                <span class="label label-default">Price:</span>
                                <p>{{ event.price }} HRK</p>
                            </div>
                            <div class="info-section">
                                <span class="label label-default">E-mail:</span>
                                <p> {{ user.email }}</p>
                                <span class="label label-default">Phone:</span>
                                <p> {{ user.mobile }}</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <br><br>  
                <div class="row">
                    <div class="col-md-4">
                      <!--{% if event.active != False and user.id == cuserId %}
                      <button class="btn btn-info" type="button" data-toggle="modal" id="myBtn">Edit Event Info</button>
                      {% endif %}-->
                       <!--<div class="info-section">
                            <span class="label label-default">Event Address:</span> <br/>
                            <span class="info-text pre-info">{{ event.address }}</span><br/>
                        </div>
                        <div class="info-section">
                            <span class="label label-default">Time and date:</span> <br/>
                            <span class="info-text pre-info">{{ event.date_time_execute }}</span><br/>
                        </div>
                        <div class="info-section">
                            <span class="label label-default">Price:</span><br/>
                            <span class="info-text pre-info">{{ event.price }} </span>HRK<br/>
                        </div>
                        <div class="info-section">
                            <span class="label label-default">Contact:</span><br/>
                            <span class="pre-info">mail:</span><span class="info-text"> {{ user.email }}</span><br/>
                            <span class="pre-info">phone:</span><span class="info-text"> {{ user.mobile }}</span><br/>
                        </div><br/>-->
                      <!--{% if event.active != False and user.id == cuserId %}
                        <button class="btn btn-danger" type="button" data-toggle="modal" id="deactBtn">Deactivate Event</button>
                      {% endif %}-->
                    </div>  
                    <div class="col-md-8">
                            {% if event.active == False %}
                            <div class="row">
                                <div class="col-md-4 detail-purchased">
                                    <input type="checkbox" name="accessories" disabled="disabled" value="Accessories purchased" {{ accessP }}> Accessories Purchased<br>
                                </div>
                                <div class="col-md-5 col-md-offset-3">
                                    This event is no longer active.
                                    {% if event.repairman_id == cuserId %}
                                        </br> You have been chosen as the Repairman!
                                    {% endif %}
                                    {% if user.id == cuserId and event.repairman_id != NULL %}
                                    </br> </br>You chose <a href="/profile/{{ repairman.username }}">{{ repairman.username }}</a> as a repairman.
                                        {% if event.closed == False %}
                                            </br></br>
                                            If the event has beed carried on, please, close the event:
                                            <button class="btn btn-info" type="button" data-toggle="modal" id="closeBtn">Finish Event</button>
                                        {% endif %}        
                                    {% endif %}
                                    
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-md-4 detail-purchased">
                                    <input type="checkbox" name="accessories" disabled="disabled" value="Accessories purchased" {{ accessP }}> Accessories Purchased<br>
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    {% if user.id != cuserId %}
                                        {% if already == 0 %}
                                            <form action="{{ url_for('signup') }}" method=post class=signup>
                                            <input type=hidden value="{{ event.id }}" name="event_to_signup"></input>
                                            
                                            <button type="submit" class="btn btn-info">Signup Now!</button>
                                            </form>
                                        {% else %}
                                            You are already signed up!
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 detail-list">
                                    {% if user.id == cuserId %}
                                    <div class="panel panel-info">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading">Signed Up Users</div>
                                          <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                      <th>Name</th>
                                                      <th>Rating</th>
                                                      <th>email</th>
                                                      <th>Select</th>
                                                    </tr>            
                                                </thead>
                                                <tbody>
                                                {% if users %}
                                                    {% for us in users %}
                                                        <tr class='clickable-row' data-href='#'>
                                                            <th scope="row"><a href="/profile/{{ us.name }}">{{us.name}}</a></th>
                                                            <td>{{us.rating}}</td>
                                                            <td>{{us.email}}</td>
                                                            <td><a href="#myModal" data-toggle="modal" id="{{us.id}}_{{us.name}}" data-target="#edit-modal">Choose!</a></td>
                                                            <!--     <form action="{{ url_for('chooserm') }}" method=post class=chooserm>
                                                                    <input type=hidden value="{{ event.id }}" name="event_to_choose"></input>
                                                                    <input type=hidden value="{{ us.id }}" name="rm_to_choose"></input>
                                                                    <input type=submit value="Choose!"></input>
                                                                </form>
                                                            </td> -->
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                 
                                                <!-- {% if repairmen %}
                                                  {% for repairman in repairmen %}
                                                  <tr class='clickable-row' data-href='#'>
                                                    <th scope="row">{{ repairman.name }}</th>
                                                    <td>{{ repairman.email }}</td>
                                                    <td>{{ repairman.rating}}</td>
                                                    <td><a href="{{ url_for('showevent', id=event.id) }}">Go To</a></td>
                                                  </tr>
                                                  {% endfor %}
                                                {% endif %} -->
                                              </tbody>
                                            </table>
                                          </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div> 
                            {% endif %}
                     </div>               
                </div>
        </div>
    </div>
    <div class="container">
     <!-- Three columns of text below the carousel -->
      <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="modfyEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modify Event Details</h4>
              </div>
              <form method='POST' action="/modifyevent" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" id="id" placeholder="Id of Event" value="{{ event.id }}" readonly>
                  <label for="name"><span class="glyphicon glyphicon-user"></span> Event Name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Change Name of Event" value="{{ event.name }}"><br>
                  <label for="description"><span class="glyphicon glyphicon-comment"></span> Event Description</label><br>
                  <textarea class="form-control" name="description" id="description" placeholder="Change Description of Event">{{ event.description }}</textarea><br>
                  <label for="price"><span class="glyphicon glyphicon-usd"></span> Event Price</label>
                  <input type="number" class="form-control" name="price" id="price" step="any" placeholder="Change Price of Event" value="{{ event.price }}"><br>
                  <label for="address"><span class="glyphicon glyphicon-map-marker"></span> Event Address</label>
                  <input type="text" class="form-control" name="address" id="address" placeholder="Change Address of User location" value="{{ event.address }}"><br>
                  <label for="date"><span class="glyphicon glyphicon-calendar"></span> Event Date</label>
                  {% if event.date_time_execute != None %}
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="datmtme" placeholder="Change End Date of Event" class="form-control" value="{{ event.date_time_execute.strftime("%m/%d/%Y %H:%M %p") }}" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div><br>
                  {% else %}
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="datmtme" placeholder="Change End Date of Event" class="form-control" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div><br>
                  {% endif %}
                  <label for="photo"><span class="glyphicon glyphicon-camera"></span> Event Photo</label>
                  <input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Change Photo of User" value="{{ event.photo }}"><br>
                  <label for="accessories"><span class="glyphicon glyphicon-check"></span> Purchase Accessories</label>
                  <div class="pull-right"><span type="button" title="Purchase Accessories Explanation" data-toggle="popover" class="glyphicon glyphicon-question-sign" data-placement="left" data-content="If you don't have all the required parts and Repairman needs to bring something - then you select this checkbox"></span></div>
                  <input type="checkbox" class="form-control" name="accessories" id="accessories" value="0" {{ accessP }}> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-info">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deactEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deactivate Event</h4>
              </div>
              <form method='POST' action="/deactevent" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" id="id" placeholder="Id of Event" value="{{ event.id }}" readonly>
                  <p>Deactivation is permanent! Do you want to deactivate Event?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Deactivate Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="declineEvent" tabindex="-1" role="dialog" aria-labelledby="DeclineModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Decline Event</h4>
              </div>
              <form method='POST' action="/declineevent" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" id="id" placeholder="Id of Event" value="{{ event.id }}" readonly>
                  <p>Are you sure you want to decline this event for which you were chosen as the repairman?
                  </br>If you do this you would be signoff from the event and in case the time for the execution did not pass the event would go back to active.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Decline Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="closeEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Finish Event</h4>
              </div>
              <form method='POST' action="/closeevent" enctype="multipart/form-data">
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" id="id" placeholder="Id of Event" value="{{ event.id }}" readonly>
                  <p>Finishing the event is Permanent. Was the job carried out completely?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                  <button type="submit" class="btn btn-danger">Finish Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </div><!-- /.row -->
        <!-- Modal -->
        <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Repairman</h4>
                        </div>
                        <div class="modal-body edit-content">
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('chooserm') }}" method="post" class="chooserm">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type=hidden value="{{ event.id }}" name="event_to_choose"></input>
                                <input id="repairman" type=hidden value="" name="rm_to_choose"></input>
                                <input type=submit class="btn btn-primary" value="Choose!"></input>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Event</h4>
              </div>
              <form method='POST' action="/createvent" enctype="multipart/form-data">
                <div class="modal-body">                
                  <label for="name"><span class="glyphicon glyphicon-user"></span> Event Name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name of Event" required><br>
                  <label for="description"><span class="glyphicon glyphicon-comment"></span> Event Description</label><br>
                  <textarea class="form-control" name="description" id="description" placeholder="Change Description of Event" required></textarea><br>
                  <label for="price"><span class="glyphicon glyphicon-usd"></span> Event Price</label>
                  <input type="number" class="form-control" name="price" id="price" step="any" placeholder="Enter Price of Event" required><br>
                  <label for="date"><span class="glyphicon glyphicon-calendar"></span> Event Date</label>
                  <div class='input-group date' id='datetimepicker3'>
                    <input type='text' name="datmtme" placeholder="Enter End Date of Event" class="form-control" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div><br>
                  <label for="address"><span class="glyphicon glyphicon-map-marker"></span> Event Address</label>
                  <input type="text" class="form-control" name="address" id="address" placeholder="Enter Address of Event location" required><br>
                  <label for="photo"><span class="glyphicon glyphicon-picture"></span> Photo</label>
                  <input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Enter Photo of Event"><br>
                  <label for="purchase accessories"><span class="glyphicon glyphicon-check"></span> Purchase Accessories</label>
                  <div class="pull-right"><span type="button" title="Purchase Accessories Explanation" data-toggle="popover" class="glyphicon glyphicon-question-sign" data-placement="left" data-content="If you don't have all the required parts and Repairman needs to bring something - then you select this checkbox"></span></div>
                  <input type="checkbox" class="form-control" name="accessories" id="accessories" value="0">   
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-info">Start Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>

  <!--   <div id="edit-modal"  class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      
        <!-- Modal content
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Confirmation</h4>
          </div>
          <div class="modal-body edit-content" style="padding:40px 50px;">
            <form action="{{ url_for('chooserm') }}" method="post" class="chooserm">
            <!-- <form role="form" method='POST' action='/signin'>  role form??? what is that?
                <label>Are you sure you want to hire </label>
                <button type="submit" class="btn btn-success btn-block"> OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
          <div class="modal-footer">
            <p>Not a member? <a href="#">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
          </div>
        </div>
        
      </div>
    </div>  -->
    </div>
    
    <footer class="footer">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <div class="col-md-4">
        </div>
        <div id="contact" class="col-md-4">
          <address>
            <strong>Tyg - Ayo, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            Zagreb, HR 10000<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
              <strong>Tyg-Ayo</strong><br>
              <a href="mailto:#">tyg-ayo@example.com</a>
          </address>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== 
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script>
      $(document).ready(function(){
          $("#myBtn").click(function(){
              $("#modfyEvent").modal();
          });
      });
    </script>
    <script>
      $(document).ready(function(){
          $("#deactBtn").click(function(){
              $("#deactEvent").modal();
          });
      });
    </script>
    <script>
      $(document).ready(function(){
          $("#declineBtn").click(function(){
              $("#declineEvent").modal();
          });
      });
    </script>
    <script>
      $(document).ready(function(){
          $("#closeBtn").click(function(){
              $("#closeEvent").modal();
          });
      });
    </script>
    <script>
        $('#edit-modal').on('show.bs.modal', function(e) {
            
            var $modal = $(this),
                input = e.relatedTarget.id;
                res = input.split("_")
                
            
//            $.ajax({
//                cache: false,
//                type: 'POST',
//                url: 'backend.php',
//                data: 'EID='+essay_id,
//                success: function(data) 
//                {
                    $modal.find('.edit-content').html("Are you sure you want to hire "+res[1]+"?");
                    //$modal.getElementById('repairman').value = res[0];
                    $("#repairman").val(res[0]);
//                }
//            });
            
        })
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#alrt").fadeTo(2000, 500).slideUp(500, function(){
    $("#alrt").alert('close');
      });
    $("#myBtn3").click(function(){
        $("#myModal").modal();
    });
    });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        $(function () {
            $('#datetimepicker3').datetimepicker();
        });
    </script> 
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>