<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Small Home Maintenance Work</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="../static/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">

    <link href="../static/css/jquery.dataTables.min.css" rel="stylesheet">

    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style>
      .panel {
        text-align: center;
      }
      #srch {
          max-width: 510px;
      }
      .form-group button {
        margin-left: 5px;
      }
      tr:hover {
         cursor: pointer;
         /* whatever other hover styles you want */
      }
      .footer {
        background: linear-gradient(#3c3c3c 0,#222 100%);
        color: white;
        
        bottom: 0px;
        width: 100%;
        padding-top: 15px;
      }
      body {
        padding-bottom: 0;
      }
      #myBtn3 {
        color: #2dacd3;
      }
      #myBtn3:hover {
        color: #57BDDC;
      }
      .glyphicon.glyphicon-question-sign {
         cursor: pointer;
         /* whatever other hover styles you want */
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tyg-Ayo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/startup">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/events">All Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href data-toggle="modal" id="myBtn3">Create Event</a>
          </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if username %}
              <li><a href="/mypage/{{ username }}">My Events</a></li>
              <li><a href="/profile/{{ username }}">My Profile</a></li>            
              <li><a href="/signout">Sign Out {{ username }}</a></li>
            {% else %}
              <li><a href="/signout">Sign Out</a></li>
            {% endif %}
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">All Events</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible alert-success" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <br><br><br>

      <div class="row">
          <div class="col-sm-8 col-sm-offset-3">
            <form method='POST' action="/events" class="form-inline">
              <div class="input-group">
              <div class="form-group">
                <input type="text" class="form-control" id="srch" name="srch" placeholder="Search Events by Name and/or Description">
              </div>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>
                </span>
              </div>      
            </form>
          </div>

        <div class="col-lg-6 col-md-offset-3">
          <hr class="featurette-divider">
          <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" id="myBtn">Create Event</button>
        </div>
      </div><!-- /.row -->

      </div>
    </div>

    <div class="container">
     <!-- Three columns of text below the carousel -->
      <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Event</h4>
              </div>
              <form method='POST' action="/createvent" enctype="multipart/form-data">
                <div class="modal-body">                
                  <label for="name"><span class="glyphicon glyphicon-user"></span> Event Name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name of Event" required><br>
                  <label for="description"><span class="glyphicon glyphicon-comment"></span> Event Description</label><br>
                  <textarea class="form-control" name="description" id="description" placeholder="Change Description of Event" required></textarea><br>
                  <label for="price"><span class="glyphicon glyphicon-usd"></span> Event Price</label>
                  <input type="number" class="form-control" name="price" id="price" step="any" placeholder="Enter Price of Event" required><br>
                  <label for="date"><span class="glyphicon glyphicon-calendar"></span> Event Date</label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="datmtme" placeholder="Enter End Date of Event" class="form-control" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div><br>
                  <label for="address"><span class="glyphicon glyphicon-map-marker"></span> Event Address</label>
                  <input type="text" class="form-control" name="address" id="address" placeholder="Enter Address of Event location" required><br>
                  <label for="photo"><span class="glyphicon glyphicon-picture"></span> Photo</label>
                  <input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Enter Photo of Event"><br>
                  <label for="purchase accessories"><span class="glyphicon glyphicon-check"></span> Purchase Accessories</label>
                  <div class="pull-right"><span type="button" title="Purchase Accessories Explanation" data-toggle="popover" class="glyphicon glyphicon-question-sign" data-placement="left" data-content="If you don't have all the required parts and Repairman needs to bring something - then you select this checkbox"></span></div>
                  <input type="checkbox" class="form-control" name="accessories" id="accessories" value="0">   
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-info">Start Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.row -->


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-info">
              <!-- Default panel contents -->
            <div class="panel-heading">List of All Events</div>
          </div>
              <div class="table-responsive">
                <table id="tbl" cellspacing="0" width="100%" class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Accessories Purchased</th>
                      
                    </tr>            
                  </thead>
                  <tbody>
                    {% if events %}
                      {% for event in events %}
                        {% if event.active %}
                      <tr class='clickable-row' data-href='/edetails/{{ event.id }}'>
                        <th scope="row">{{ event.id }}</th>
                        <td>{{ event.name }}</td>
                        <td>{{ event.description}}</td>
                        <td>{{ event.price }}</td>
                        <td>{{ event.accessories_purchased }}</td>
                        
                      </tr>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
        </div>
      </div><br><br><br>

      <br>

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container" align="center">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <div class="col-md-4">
        </div>
        <div id="contact" class="col-md-4">
          <address>
            <strong>Tyg - Ayo, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            Zagreb, HR 10000<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
              <strong>Tyg-Ayo</strong><br>
              <a href="mailto:#">tyg-ayo@example.com</a>
          </address>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function(){
          $("#myBtn").click(function(){
              $("#myModal").modal();
          });
          $("#myBtn3").click(function(){
              $("#myModal").modal();
          });
          $('#tbl').DataTable({
            "order":[0,"desc"],
            "columnDefs": [
                {
                    "targets": [ 2 ],
                    "visible": false
                }
            ],
            "order": [ 0, 'desc' ]        
          });
      });
    </script>
    <script>
      jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.open($(this).data("href"),'_blank');
          });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#alrt").fadeTo(2000, 500).slideUp(500, function(){
    $("#alrt").alert('close');
      });
    });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>