
<!DOCTYPE html>
<html lang="{{ g.lang_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% trans %}Small Home Maintenance Work{% endtrans %}</title>
    <base href="/{{ g.lang_code }}/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="../static/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
    
    <!-- Validatror -->
    <link href="../static/css/bootstrapvalidator.min.css" rel="stylesheet">

    <style>
      .modal-header, h4, .close {
          background-color: #5cb85c;
          color:white !important;
          text-align: center;
          font-size: 30px;
      }
      .modal-footer {
          background-color: #f9f9f9;
      }
      .footer {
        background: linear-gradient(#3c3c3c 0,#222 100%);
        color: white;
        
        bottom: 0px;
        width: 100%;
        padding-top: 15px;
      }
      body {
        padding-bottom: 0;
      }
      a:hover, a:link {
          text-decoration: none;
          color: inherit;
          text-align: center;
      }
      .panel {
        text-align: center;
      }
      .panel:hover {
        border: 1px solid #2CB5D2;
      }
      .panel:active {
        border: 1px solid #2391A9;
        background: #F2F2F2;
      }
      #mrgn{
        margin-bottom: 50px;
      }
      .img-thumbnail{
        max-width: 340px;
        max-height: 340px;
      }
      .round-indicator-active{
        border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: #5cb85c;
        display: inline-block;
      }
      .round-indicator-inactive{
        border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: #d9534f;
        display: inline-block;
      }
      .jumbotron.pictr{
        background-image: url(../static/images/tyg_ayo/zagreb_night.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 700px;
        margin-bottom: 0;
      }
      .jumbotron h1, blockquote{
        color: white;
        border-left: hidden;
      }
      #lng, #lng2 {
        color: #2dacd3;
      }
      #lng:hover, #lng2:hover {
        color: #57BDDC;
      }
      .footer a{
        color: #337ab7;
      }
      .footer a:hover{
        color: #2dacd3;
      }
    .glyphicon.big{
        font-size: 70px;
    }
    hr{
            border-color: #333333;
    }
    a:hover p{
        color: #2dacd3;
    }
    h2{
        margin-bottom: 55px;
        font-style: italic;
    }
    .activitycicle{
        border-radius: 100%;
        height: 120px;
        width: 120px;
    }
    .activitycicleborder{
        border-style: solid;
        border-color: #16a6b6;
    }
    .money{
        border-color: #ccff33;
    }
    .cntr{
        padding-top: 37%;
    }
    .spacer{
        margin-top: 37px;
        margin-bottom: 37px;
    }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('.index') }}">Tyg-Ayo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
  <!--           <li class="nav-item active">
              <a class="nav-link" href="/startup">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('.about') }}">{% trans %}About{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">{% trans %}Contact{% endtrans %}</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('.allevents') }}">{% trans %}All Events{% endtrans %} <span class="badge">{{ active_events }}</span></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#regModal" data-toggle="modal" id="regLnk" data-target="#regForm-modal">{% trans %}Register{% endtrans %}</a></li>
            <li><a href="#logModal" data-toggle="modal" data-target="#log-modal" id="myLnk">{% trans %}Sign In{% endtrans %}</a></li>
            <li><a id="lng" href="/hr/">{% trans %}cro{% endtrans %}</a></li>
            <li><a id="lng2" href="/en/">en</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron pictr">
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible alert-danger fade in" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>Warning! </strong>{{ message|safe }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <div align="center">
        <h1 class="display-3 col-sm-8 col-sm-offset-2">{% trans %}Choose your role{% endtrans %}</h1>
        <p><blockquote class="col-sm-8 col-sm-offset-2">{% trans %}Do you need something done or you are handy with the tools?{% endtrans %}<br> {% trans %}Choose your role and make things happen!{% endtrans %}</blockquote></p>
        <br>
      </div>
      </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
            <div class="col-lg-4" align="center">

              <h2>{% trans %}Client{% endtrans %}</h2>
              {% if username %}
              <a href="{{ url_for('.startup') }}" data-toggle="modal" id="myBtn2">
                <span class="glyphicon glyphicon-edit big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Create an event{% endtrans %}</p>
              </a>
              {% else %}
              <a href="#logModal" data-toggle="modal" data-target="#log-modal" id="myLnk">
                <span class="glyphicon glyphicon-edit big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Create an event{% endtrans %}</p>

              </a>
              {% endif %}
            <hr>
                <span class="glyphicon glyphicon-time big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Wait for repairman to apply for a job{% endtrans %}</p>
            <hr>
              {% if username %}
              <a href="{{ url_for('.myPage', username) }}">
              <span class="glyphicon glyphicon-check big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Choose your repairman{% endtrans %}</p>

              </a>
              {% else %}
              <a href="#logModal" data-toggle="modal" data-target="#log-modal" id="myLnk">
              <span class="glyphicon glyphicon-check big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Choose your repairman{% endtrans %}</p>
              </a>
              {% endif %}
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 hidden-xs" align="center">
                <div align="center" class="activitycicle activitycicleborder">
                    <p class="cntr">{{ total_users }}</p>
                </div>
                <p>{% trans %}Total Users{% endtrans %}</p>
                <div align="center" class="activitycicle activitycicleborder">
                    <p class="cntr">{{ events|length }}</p>
                </div>
                <p>{% trans %}Total Events{% endtrans %}</p>
                <div align="center" class="activitycicle activitycicleborder money">
                    <p class="cntr">{{ money_earned }} HRK</p>
                </div>
                <p>{% trans %}Total Money Earned{% endtrans %}</p>
                <div align="center" class="activitycicle activitycicleborder">
                    <p class="cntr">{{ active_events }}</p>
                </div>
                <p>{% trans %}Total Active Events{% endtrans %}</p>
                <div align="center" class="activitycicle activitycicleborder">
                    <p class="cntr">{{ closed_events }}</p>
                </div>
                <p>{% trans %}Total Closed Events{% endtrans %}</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align="center">

              <h2>{% trans %}Repairman{% endtrans %}</h2>
              {% if username %}
              <a href="{{ url_for('.allevents') }}">
              <span class="glyphicon glyphicon-wrench big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Apply for a job{% endtrans %}</p>

              </a>
              {% else %}
              <a href="#logModal" data-toggle="modal" data-target="#log-modal" id="myLnk">
              <span class="glyphicon glyphicon-wrench big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Apply for a job{% endtrans %}</p>
              </a>
              {% endif %}
            <hr>
            <span class="glyphicon glyphicon-user big spacer" aria-hidden="true"></span>
                  <p>{% trans %}Wait for the client acceptance{% endtrans %}</p>
            <hr>
            <span class="glyphicon glyphicon-map-marker big spacer" aria-hidden="true"></span>
                 <p>{% trans %}Bring your tools and come over{% endtrans %}</p>
            </div>
    <!--         <div class="col-lg-6 col-md-offset-3">
              <hr class="featurette-divider">
              <button type="button" class="btn btn-primary btn-lg btn-block">Create Event</button>
            </div> -->
          </div><!-- /.row -->
        </div>

    </div>
     
    <!-- Modal Register -->
            <div id="regForm-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
              <div class="modal-dialog" role="document"> 
                <div class="modal-content">
                  <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel5">{% trans %}Register user{% endtrans %}</h4>
                  </div>
                  <form method="post" action="{{ url_for('.register') }}" class="form-horizontal" id="reg-modal" enctype="multipart/form-data">
                    <div class="modal-body" style="padding:40px 50px;">
                      <div class="form-group">  
                          <label class="control-label">{% trans %}First name{% endtrans %}</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="{% trans %}John{% endtrans %}" autofocus required />
                      </div>
                      <div class="form-group">
                          <label for="surename" class="control-label">{% trans %}Last Name{% endtrans %}</label>
                          <input type="text" class="form-control" name="surename" id="surename" placeholder="{% trans %}Smith{% endtrans %}" required>
                      </div>
                      <div class="form-group">                      
                        <label for="email" class="control-label">{% trans %}Email{% endtrans %}</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="{% trans %}example@email.com{% endtrans %}" required>
                      </div>
                      <div class="form-group">  
                        <label for="username" class="control-label">{% trans %}User alias{% endtrans %}</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="{% trans %}jsmith{% endtrans %}" required>
                      </div>
                      <div class="form-group"> 
                        <label for="password" class="control-label">{% trans %}Password{% endtrans %}</label><br>
                        <input type="password" class="form-control" name="password" id="password" placeholder="{% trans %}Password should have at least one number and one uppercase letter{% endtrans %}" required>
                      </div>
                      <div class="form-group"> 
                        <label for="passwordConfr" class="control-label">{% trans %}Password confirmation{% endtrans %}</label><br>
                        <input type="password" class="form-control" name="passwordConfr" id="passwordConfr" placeholder="{% trans %}Retype your Password{% endtrans %}" required>
                      </div>
                      <div align="right">
                      <a data-toggle="collapse" href="#registrationReduction" aria-expanded="false" aria-controls="registrationReduction">Advanced<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                      </div>
                      <div class="collapse" id="registrationReduction">
                      <div class="form-group"> 
                        <label for="mobile" class="control-label">{% trans %}Mobile{% endtrans %}</label><br>
                        <input type="number" class="form-control" name="mobile" id="mobile" placeholder="3851234567">
                      </div>
                      <div class="form-group"> 
                        <label for="address" class="control-label">{% trans %}Address{% endtrans %}</label><br>
                        <input type="text" class="form-control" name="address" id="address" placeholder="{% trans %}Street and number{% endtrans %}">
                      </div>
                      <div class="form-group"> 
                        <label for="photo" class="control-label">{% trans %}Photo{% endtrans %}</label>
                        <input type="file" accept="image/*" class="form-control" name="photo" id="photo">
                      </div>
                      </div>
                    </div>
                    <div class="modal-footer" style="padding:40px;">
                    <div class="form-group">
                      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button> 
                      <input type="submit" class="btn btn-info" value="Submit"></input>
                     </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
 
    <div class="container" id="mrgn">
     <!-- Three columns of text below the carousel -->
      <div class="row">
      <!-- Modal -->
        <div class="modal fade" id="log-modal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> {% trans %}Login{% endtrans %}</h4>
              </div>
              <div class="modal-body" style="padding:40px 50px;">
                <form role="form" method='POST' action='{{ url_for('.login') }}'>
                  <div class="form-group">
                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> {% trans %}Email address{% endtrans %}</label>
                    <input type="text" class="form-control" id="mail" name="mail" placeholder="Enter email" autofocus required>
                  </div>
                  <div class="form-group">
                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> {% trans %}Password{% endtrans %}</label>
                    <input type="password" class="form-control" id="psw" name="lozinka" placeholder="Enter password">
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="" checked>{% trans %}Remember me{% endtrans %}</label>
                  </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> {% trans %}Login{% endtrans %}</button>
                </form>
              </div>
              <div class="modal-footer">
                <p>Not a member? <a href="#">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
              </div>
            </div>
          </div>
        </div> 
      </div><!-- /.row -->


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-info">
              <!-- Default panel contents -->
            <div class="panel-heading">{% trans %}Recent Events{% endtrans %}</div>
          </div>            
              <!--<div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Description</th>
                    </tr>            
                  </thead>
                  <tbody>
                    {% if events %}
                      {% for event in events %}
                        {% if event.active %}
                        <tr>
                          <th scope="row">{{ event.id }}</th>
                          <td><a href="/edetails/{{ event.id }}">{{ event.name }}</a></td>
                          <td>{{ event.price }}</td>
                          <td>{{ event.description[0:50] }}</td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>-->
        </div>
      </div>

      <div class="row">
      {% if events %}
        {% for event in events %}
          
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="/{{ event.photo }}" class="img-thumbnail">
              <div class="caption">
                <h3><span class="label label-default">#{{ event.id }}</span> | {{ event.name[0:23] }}</h3>
                <p>{{ event.description[0:57] }}</p>
                <p><b>{% trans %}Price:{% endtrans %} </b>{{ event.price }} HRK</p>
                  {% if event.active %}
                  <p>Status: <span class="label label-success">{% trans %}Active{% endtrans %}</span></p>
                  {% elif event.closed %}
                  <p>Status: <span class="label label-default">{% trans %}Closed{% endtrans %}</span></p>
                  {% else %}
                  <p>Status: <span class="label label-danger">{% trans %}Inactive{% endtrans %}</span></p>
                  {% endif %}
                  {% if event.tag %}
                  <p>{% trans %}Tags{% endtrans %}:
                      {% for tg in event.tag[:3] %}
                      <span class="label label-primary">{{ tg.tag_description }}</span>
                      {% endfor %}
                      {% if event.tag.count() > 3%}
                      <span class="label label-primary">...</span>
                      {% endif %}
                  </p>
                  {% else %}
                  <p>{% trans %}Tags{% endtrans %}: </p>
                  {% endif %}
                <input type="button" class="btn btn-info btn-lg btn-block" onclick="window.open('{{ url_for('.showevent', id=event.id) }}','_self');" value="{% trans %}See Event{% endtrans %}"/>
              </div>
            </div>
          </div>
          
        {% endfor %}
      {% endif %}
      </div>

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container" align="center">
        <p class="pull-xs-right">
          <a href="#">{% trans %}Back to top{% endtrans %}</a>
        </p>
        <div class="col-lg-4">
        </div>
        <div id="contact" class="col-lg-4">
          <address>
            <strong>Tyg - Ayo, Inc.</strong><br>
            Zagreb, HR 10000<br>
            <a href="mailto:#">tygayoinc@gmail.com</a><br>
            Pavel Najman <abbr title="{% trans %}Phone{% endtrans %}">{% trans %}P:{% endtrans %}</abbr> +385 95 844 1598<br>
            Igor Kljucaricek <abbr title="{% trans %}Phone{% endtrans %}">{% trans %}P:{% endtrans %}</abbr> +385 99 595 3502 
          </address>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../../static/js/bootstrapvalidator.min.js"></script>
<!--     <script>
      $(document).ready(function(){
          $("#myLnk").click(function(){
              $("#myModal").modal();
          });
      });
    </script> -->
    <script>
    $(document).ready(function() {
    $('#reg-modal').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: {% trans %}'The first name is required and cannot be empty'{% endtrans %}
                    }
                }
            },
            surename: {
                validators: {
                    notEmpty: {
                        message: {% trans %}'The surename is required and cannot be empty'{% endtrans %}
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: {% trans %}'The email address is required nd cannot be empty'{% endtrans %}
                    },
                    emailAddress: {
                        message: {% trans %}'The input is not a valid email address'{% endtrans %}
                    }
                }
            },
            username: {
                validators: {
                    notEmpty: {
                        message: {% trans %}'The username is required and cannot be empty'{% endtrans %}
                    }
                }
            },
            password: {
                validators: {
                   notEmpty: {
                        message: {% trans %}'The password is required and cannot be empty'{% endtrans %}
                    }
                }
            },
            passwordConfr: {
                validators: {
                    identical: {
                    field: 'password',
                    message: {% trans %}'The password and its confirm are not the same'{% endtrans %}
                },
                    notEmpty: {
                        message: {% trans %}'The password check is required and cannot be empty'{% endtrans %}
                    }
                }
            }
            
        }
    });
});
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#alrt").fadeTo(2000, 500).slideUp(500, function(){
    $("#alrt").alert('close');
      });
    });
    </script>
  </body>
</html>