<!DOCTYPE html>

<head>
    <style>
        #bloodhound input{
            width: 100%;
            display: inline-block;
            height: 34px;
            padding: 6px 12px;
            margin-top: 4px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        span.label{
            cursor: pointer;
        }
    </style>
</head>

<html lang="{{ g.lang_code }}"> 
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans %}Create Event{% endtrans %}</h4>
              </div>
              <form method='POST' action="{{ url_for('.create_an_event') }}" enctype="multipart/form-data" id='createEv-modalform'>
                <div class="modal-body">
                  <div class="form-group">                
                      <label for="name" class="control-label"><span class="glyphicon glyphicon-user"></span> {% trans %}Event Name{% endtrans %}</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="{% trans %}Change of water tap{% endtrans %}" required><br>
                  </div>
                  <div class="form-group"> 
                      <label for="description" class="control-label"><span class="glyphicon glyphicon-comment"></span> {% trans %}Event Description{% endtrans %}</label><br>
                      <textarea class="form-control" name="description" id="description" placeholder="{% trans %}Be as descriptive as you can (e.g. Current water tap is double handed and new water tap should be sigle handed){% endtrans %}" required></textarea><br>
                  </div>
                  <div class="pull-right"><span type="button" title="{% trans %}Tags Explanation{% endtrans %}" data-toggle="popover" class="glyphicon glyphicon-question-sign" data-placement="left" data-content="{% trans %}Insert tags separated by comma which best describe your event or choose from default ones below{% endtrans %}"></span></div>
                  <div class="form-group" id="bloodhound">
                      <label for="tags" class="control-label"><span class="glyphicon glyphicon-tags"></span> {% trans %}Tags{% endtrans %}</label><br>
                      <input class="typeahead" type="text" class="form-control" data-role="tagsinput" name="tag" placeholder="{% trans %}water, gas, electricity, ...{% endtrans %}" required>
                      <span id="electricity" class="label label-primary">{% trans %}electricity{% endtrans %}</span> <span id="water" class="label label-primary">{% trans %}water{% endtrans %}</span> <span id="gas" class="label label-primary">{% trans %}gas{% endtrans %}</span> <span id="ceramic" class="label label-primary">{% trans %}ceramic{% endtrans %}</span> <span id="glass" class="label label-primary">{% trans %}glass{% endtrans %}</span> <span id="painter" class="label label-primary">{% trans %}painter{% endtrans %}</span> <span id="internal_construction" class="label label-primary">{% trans %}internal construction{% endtrans %}</span> <span id="other" class="label label-primary">{% trans %}other{% endtrans %}</span><br>
                      <input name="tag-default" id="tag-default" type="hidden">
                  </div>
                  <div class="form-group">
                      <label for="price"><span class="glyphicon glyphicon-usd"></span> {% trans %}Event Price{% endtrans %}</label>
                      <input type="number" class="form-control" name="price" id="price" step="any" placeholder="{% trans %}Put price which you consider adequate (e.g. 120 HRK){% endtrans %}" min="1" required><br>
                  </div>  
                  <label for="date"><span class="glyphicon glyphicon-calendar"></span> {% trans %}Event Date{% endtrans %}</label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="datmtme" placeholder="{% trans %}Put the date and time you want event to happen (e.g. 02/29/2020 05:00 PM){% endtrans %}" class="form-control" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div><br>

                  <div class="form-group">
                      <label for="cityList"><span class="glyphicon glyphicon-map-marker"></span> {% trans %}City of the Event{% endtrans %}</label>
                      <select class="form-control" name="cityList" id="cityList"></select>
                  </div>
                  <div class="form-group">
                      <label for="address"><span class="glyphicon glyphicon-map-marker"></span> {% trans %}Neighborhood of the Event{% endtrans %}</label>
                      <select class="form-control" name="neighborhoodList" id="neighborhoodList"></select>
                  </div>
                  <div class="form-group">
                      <label for="address"><span class="glyphicon glyphicon-map-marker"></span> {% trans %}Event Street and number{% endtrans %}</label>
                      <input type="text" class="form-control" name="address" id="address" placeholder="{% trans %}Enter Address of Event location (e.g. Puljska 1){% endtrans %}" required><br>
                  </div>
                  <div class="form-group">  
                      <label for="photo"><span class="glyphicon glyphicon-picture"></span> {% trans %}Photo{% endtrans %}</label>
                      <input type="file" accept="image/*" class="form-control" name="photo" id="photo"><br>
                  </div>
                  <label for="purchase accessories"><span class="glyphicon glyphicon-check"></span> {% trans %}Purchase Accessories{% endtrans %}</label>
                  <div class="pull-right"><span type="button" title="{% trans %}Purchase Accessories Explanation{% endtrans %}" data-toggle="popover" class="glyphicon glyphicon-question-sign" data-placement="left" data-content="{% trans %}If you don't have all the required parts and Repairman needs to bring something - then you select this checkbox{% endtrans %}"></span></div>
                  {% if accessP != "" %}
                  <input type="checkbox" class="form-control" name="accessories" id="accessories" 
                  value="1" {{ accessP }}>
                  {% else %}
                  <input type="checkbox" class="form-control" name="accessories" id="accessories" 
                  value="0" {{ accessP }}>
                  {%endif%}     
                </div>  
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                  <button type="submit" class="btn btn-info">{% trans %}Start Event{% endtrans %}</button>
              </div>  
              </form>
            </div>
          </div>
<script src="../../static/js/CreateEventValidation.js"></script>
<script src="../../static/js/cities.js"></script>
<script src="../../static/js/neighborhoods.js"></script>
<script src="../../static/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript">
$(function (){
    $('#datetimepicker1').datetimepicker();
});
</script>
<script>
$(document).ready(function(){
    $("#cityList").change(function() {
        $('#neighborhoodList').attr('disabled', !(this.value === "Zagreb"));
    });
});
</script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script type="text/javascript">
$(function () {
    $('.label').on('click', function (event) {
    		var tag_def = $('#tag-default');
        if($("#" + event.target.id).hasClass("label-primary")) {
            $("#" + event.target.id).removeClass("label label-primary").addClass("label label-info");
            tag_def.val(tag_def.val() + $("#" + event.target.id).text() + ", ");
        }
        else{
            $("#" + event.target.id).removeClass("label label-info").addClass("label label-primary");
            tag_def.val(tag_def.val().replace($("#" + event.target.id).text() + ", ", ""))
        }
    });
});
</script>

