<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Small Home Maintenance Work</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="../static/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
    <!-- Table styles -->
    <link href="../static/css/jquery.dataTables.min.css" rel="stylesheet">
    
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style>
      .panel {
        text-align: center;
      }
      tr:hover {
         cursor: pointer;
         /* whatever other hover styles you want */
      }
      .footer {
        background: linear-gradient(#3c3c3c 0,#222 100%);
        color: white;
        
        bottom: 0px;
        
        padding-top: 15px;
      }
      body {
        padding-bottom: 0;
      }
      #myBtn3 {
        color: #2dacd3;
      }
      #myBtn3:hover {
        color: #57BDDC;
      }
      .glyphicon.glyphicon-question-sign {
         cursor: pointer;
         /* whatever other hover styles you want */
      }
    </style>
  </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand" href="/startup">Tyg-Ayo</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/startup">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">All Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href data-toggle="modal" id="myBtn3">Create Event</a>
          </li>
        </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.username %}
              <li class="nav-item active"><a href="/mypage/{{ user.username }}">My Events</a></li>
              <li><a href="/profile/{{ user.username }}">My Profile</a></li>           
              <li><a href="/signout">Sign Out {{ user.username }}</a></li>
            {% endif %}
          </ul>
        </div>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category != 'warning' %}
              <div class="alert alert-dismissible alert-success" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}
              </div>
              {% else %}
              <div class="alert alert-dismissible alert-danger fade in" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>Warning! </strong>{{ message|safe }}
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h1>{{ user.username }}'s Events</h1>
        <br><br><br>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-6">
            <div class="panel panel-info">
                <!-- Default panel contents -->
              <div class="panel-heading">Events created by User</div>
            </div>
                <div class="table-responsive">
                  <table id="tble" cellspacing="0" width="100%" class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date of Execution</th>
                        <th>Status</th>
                      </tr>            
                    </thead>
                    <tbody>
                      {% if CreatedEvents %}
                        {% for event in CreatedEvents %}
                        <!-- paint rows in different colours according to their status -->  
                        <tr class='clickable-row' data-href='/edetails/{{ event.id }}'>
                          <th  scope="row">{{ event.id }}</th>
                          <td>{{ event.name }}</td>
                          <td>{{ event.description}}</td>
                          {% if event.date_time_execute != None %}
                          <td>{{ event.date_time_execute.strftime("%d/%m/%Y %H:%M") }}</td>
                          {% else %}
                          <td></td>
                          {% endif %}
                          <td>{% if event.active == False %}
                                {% if event.closed == True %} <span class="label label-default">Closed</span>
                                {% else %} <span class="label label-danger">Inactive</span>  {% endif %}
                            {% else %} <span class="label label-success">Active</span>{% endif %}</td>
                        </tr>                         
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-info">
                <!-- Default panel contents -->
              <div class="panel-heading">Events User signed-up for</div>
            </div>
                <div class="table-responsive">
                <table id="tbl-signup" cellspacing="5px" width="100%" class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date of Execution</th>
                        <th>Status</th>
                      </tr>            
                    </thead>
                    <tbody>
                      {% if SUPevents %}
                        {% for event in SUPevents %}                          
                        <tr class='clickable-row' data-href='/edetails/{{ event.id }}'>
                          <th scope="row">{{ event.id }}</th>
                          <td>{{ event.name }}</td>
                          <td>{{ event.description}}</td>
                          {% if event.date_time_execute != None %}
                          <td>{{ event.date_time_execute.strftime("%d/%m/%Y %H:%M") }}</td>
                          {% else %}
                          <td></td>
                          {% endif %}
                          <td>{% if event.active == False %}
                                {% if event.closed == True %} <span class="label label-default">Closed</span>
                                {% else %} <span class="label label-warning">Chosen</span>  {% endif %}
                            {% else %} <span class="label label-success">Active</span>{% endif %}</td>
                        </tr>                          
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
          </div>
        </div>
    </div><br><br><br><br>
    
           <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Event</h4>
                  </div>
                  <form method='POST' action="/createvent" enctype="multipart/form-data">
                    <div class="modal-body">                
                      <label for="name"><span class="glyphicon glyphicon-user"></span> Event Name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name of Event" required><br>
                      <label for="description"><span class="glyphicon glyphicon-comment"></span> Event Description</label><br>
                      <textarea class="form-control" name="description" id="description" placeholder="Change Description of Event" required></textarea><br>
                      <label for="price"><span class="glyphicon glyphicon-usd"></span> Event Price</label>
                      <input type="number" class="form-control" name="price" id="price" step="any" placeholder="Enter Price of Event" required><br>
                      <label for="date"><span class="glyphicon glyphicon-calendar"></span> Event Date</label>
                      <div class='input-group date' id='datetimepicker1'>
                        <input type='text' name="datmtme" placeholder="Enter End Date of Event" class="form-control" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div><br>
                      <label for="address"><span class="glyphicon glyphicon-map-marker"></span> Event Address</label>
                      <input type="text" class="form-control" name="address" id="address" placeholder="Enter Address of Event location" required><br>
                      <label for="photo"><span class="glyphicon glyphicon-picture"></span> Photo</label>
                      <input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Enter Photo of Event"><br>
                      <label for="purchase accessories"><span class="glyphicon glyphicon-check"></span> Purchase Accessories</label>
                      <div class="pull-right"><span type="button" title="Purchase Accessories Explanation" data-toggle="popover" class="glyphicon glyphicon-question-sign" data-placement="left" data-content="If you don't have all the required parts and Repairman needs to bring something - then you select this checkbox"></span></div>
                      <input type="checkbox" class="form-control" name="accessories" id="accessories" value="0"> 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-info">Start Event</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
    
    <footer class="footer">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <div class="col-lg-4">
        </div>
        <div id="contact" class="col-lg-4">
          <address>
            <strong>Tyg - Ayo, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            Zagreb, HR 10000<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
              <strong>Full Name</strong><br>
              <a href="mailto:#">tyg-ayo@example.com</a>
          </address>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- two scripts to run fancy datetimepicker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <!-- search and paging for tables -->
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function(){
          $("#myBtn3").click(function(){
              $("#myModalCreate").modal();
          });
          $('#tble').DataTable({
          "order": [ 0, 'desc' ],
          "columnDefs": [
                {
                    "targets": [ 2 ],
                    "visible": false
                }
            ]});
          $('#tbl-signup').DataTable({
          "order": [ 0, 'desc' ],
          "columnDefs": [
                {
                    "targets": [ 2 ],
                    "visible": false
                }    
                ]});
      });
    </script>
    <script>
      jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.open($(this).data("href"),'_blank');
          });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#alrt").fadeTo(2000, 500).slideUp(500, function(){
    $("#alrt").alert('close');
      });
    });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script> 
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>    