<!DOCTYPE html>
<html lang="{{ g.lang_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% trans %}Small Home Maintenance Work{% endtrans %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="../../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="../../static/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/jumbotron.css" rel="stylesheet">
    <!-- Table styles -->
    <link href="../../static/css/jquery.dataTables.min.css" rel="stylesheet">
    
    <link href="../../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    
    <!-- Validatror -->
    <link href="../../static/css/bootstrapvalidator.min.css" rel="stylesheet">
    
    <style>
      .panel {
        text-align: center;
      }
      tr:hover {
         cursor: pointer;
         /* whatever other hover styles you want */
      }
      .footer {
        background: linear-gradient(#3c3c3c 0,#222 100%);
        color: white;
        
        bottom: 0px;
        
        padding-top: 15px;
      }
      body {
        padding-bottom: 0;
      }
      #myBtn3 {
        color: #2dacd3;
      }
      #myBtn3:hover {
        color: #57BDDC;
      }
      .glyphicon.glyphicon-question-sign {
         cursor: pointer;
         /* whatever other hover styles you want */
      }
      #lng, #lng2 {
        color: #2dacd3;
      }
      #lng:hover, #lng2:hover {
        color: #57BDDC;
      }
    </style>
  </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if user.username %}
              <a class="navbar-brand" href="{{ url_for('.startup') }}">Tyg-Ayo</a>
          {% else %}
              <a class="navbar-brand" href="{{ url_for('.index') }}">Tyg-Ayo</a>
          {% endif %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('.startup') }}">{% trans %}Home{% endtrans %} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('.about') }}">{% trans %}About{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">{% trans %}Contact{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('.allevents') }}">{% trans %}All Events{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href data-toggle="modal" id="myBtn3">{% trans %}Create Event{% endtrans %}</a>
          </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.username %}
              <li class="nav-item active"><a href="{{ url_for('.myPage', username=user.username) }}">{% trans %}My Events{% endtrans %}</a></li>
              <li><a href="{{ url_for('.profilePage', username=user.username) }}">{% trans %}My Profile{% endtrans %}</a></li>           
              <li><a href="{{ url_for('logout') }}">{% trans %}Sign Out{% endtrans %} {{ user.username }}</a></li>
            {% endif %}
              <li><a id="lng" href="/hr/mypage/{{user.username}}">{% trans %}cro{% endtrans %}</a></li>
              <li><a id="lng2" href="/en/mypage/{{user.username}}">en</a></li>
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category != 'warning' %}
              <div class="alert alert-dismissible alert-success" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}
              </div>
              {% else %}
              <div class="alert alert-dismissible alert-danger fade in" id="alrt" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>{% trans %}Warning!{% endtrans %} </strong>{{ message|safe }}
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h1>{{ user.username }}'s {% trans %}Events{% endtrans %}</h1>
        <br><br><br>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-6">
            <div class="panel panel-info">
                <!-- Default panel contents -->
              <div class="panel-heading">{% trans %}Events created by User{% endtrans %}</div>
            </div>
                <div class="table-responsive">
                  <table id="tble" cellspacing="0" width="100%" class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Description{% endtrans %}</th>
                        <th>{% trans %}Date of Execution{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                      </tr>            
                    </thead>
                    <tbody>
                      {% if CreatedEvents %}
                        {% for event in CreatedEvents %}
                        <!-- paint rows in different colours according to their status -->  
                        <tr class='clickable-row' data-href='{{ url_for('.showevent', id=event.id) }}'>
                          <th  scope="row">{{ event.id }}</th>
                          <td>{{ event.name }}</td>
                          <td>{{ event.description}}</td>
                          {% if event.date_time_execute != None %}
                          <td>{{ event.date_time_execute.strftime("%d/%m/%Y %H:%M") }}</td>
                          {% else %}
                          <td></td>
                          {% endif %}
                          <td>{% if event.active == False %}
                                {% if event.closed == True %} <span class="label label-default">{% trans %}Closed{% endtrans %}</span>
                                {% else %} <span class="label label-danger">{% trans %}Inactive{% endtrans %}</span>  {% endif %}
                            {% else %} <span class="label label-success">{% trans %}Active{% endtrans %}</span>{% endif %}</td>
                        </tr>                         
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-info">
                <!-- Default panel contents -->
              <div class="panel-heading">{% trans %}Events User signed-up for{% endtrans %}</div>
            </div>
                <div class="table-responsive">
                <table id="tbl-signup" cellspacing="5px" width="100%" class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Description{% endtrans %}</th>
                        <th>{% trans %}Date of Execution{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                      </tr>            
                    </thead>
                    <tbody>
                      {% if SUPevents %}
                        {% for event in SUPevents %}                          
                        <tr class='clickable-row' data-href='{{ url_for('.showevent', id=event.id) }}'>
                          <th scope="row">{{ event.id }}</th>
                          <td>{{ event.name }}</td>
                          <td>{{ event.description}}</td>
                          {% if event.date_time_execute != None %}
                          <td>{{ event.date_time_execute.strftime("%d/%m/%Y %H:%M") }}</td>
                          {% else %}
                          <td></td>
                          {% endif %}
                          <td>{% if event.active == False %}
                                {% if event.closed == True %} <span class="label label-default">{% trans %}Closed{% endtrans %}</span>
                                {% else %} <span class="label label-warning">{% trans %}Chosen{% endtrans %}</span>  {% endif %}
                            {% else %} <span class="label label-success">{% trans %}Active{% endtrans %}</span>{% endif %}</td>
                        </tr>                          
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
          </div>
        </div>
    </div><br><br><br><br>
        
        <!-- MODAL -->
        <div class="modal fade" id="createEv-modalExt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  
        </div>
    
    <footer class="footer">
      <div class="container" align="center">
        <p class="pull-xs-right">
          <a href="#">{% trans %}Back to top{% endtrans %}</a>
        </p>
        <div class="col-lg-4">
        </div>
        <div id="contact" class="col-lg-4">
          <address>
            <strong>Tyg - Ayo, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            Zagreb, HR 10000<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
              <strong>Full Name</strong><br>
              <a href="mailto:#">tyg-ayo@example.com</a>
          </address>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- two scripts to run fancy datetimepicker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="../../static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
    <!-- search and paging for tables -->
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <!-- Validator -->
    <script src="../../static/js/bootstrapvalidator.min.js"></script>
    <script>
      $(document).ready(function(){
          $("#myBtn3").click(function(){
              var $this = $(this).data('target');
              $("#createEv-modalExt").load("url_for(modalCreateEvent)", function (responseTxt, statusTxt, xhr) {
                if (statusTxt == "success"){
                    $(this).modal('show');
                    }
                if(statusTxt == "error")
                    alert("Error while loading: " + xhr.status + ": " + xhr.statusText);
              });
          });
          $('#tble').DataTable({
          "order": [ 0, 'desc' ],
          "columnDefs": [
                {
                    "targets": [ 2 ],
                    "visible": false
                }
            ]});
          $('#tbl-signup').DataTable({
          "order": [ 0, 'desc' ],
          "columnDefs": [
                {
                    "targets": [ 2 ],
                    "visible": false
                }    
                ]});
      });
    </script>
    <script>
      jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.open($(this).data("href"),'_blank');
          });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#alrt").fadeTo(2000, 500).slideUp(500, function(){
    $("#alrt").alert('close');
      });
    });
    </script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>    